.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

header {
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: #9A725C;
    position: relative;
}
header h1 {
    font-size: 45px;
    color: white;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-family: 'Old Standard TT', serif;
}
.header__image {
    height: 200px;
    padding: 30px 0 20px;
    display: block;
    margin: auto;
}

.admin-url {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.admin-url a{
    display: block;
    line-height: 34px;
}

main {
    width: 980px;
    margin: 40px auto;
}

.articles {
    width: 100%;
}
.articles__item {
    width: 250px;
    margin-right: 115px;
    margin-bottom: 40px;
    float: left;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.articles__item:nth-child(3n) {
    margin-right: 0;
}
.articles__item__thumbnail img {
    width: 100%;
}
.articles__item__information {
    padding: 8px;
}
.article__item__title {
    font-size: 18px;
    margin-bottom: 5px;
}
.article__item__read {
    font-size: 14px;
}

.view-article {
    width: 100%;
}
.view-article__image {
    float: left;
    width: 300px;
}
.view-article__image img{
    width: 100%;
}
.view-article__information {
    float: left;
    width: 680px;
}
.view-article__title {
    font-size: 24px;
    margin-bottom: 40px;
}
