<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユースタスのブログ</title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('reset.css') ?>
    <?= $this->Html->css('style.css') ?>

    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <header>
        <img class="header__image" src="/img/logo.png" alt="logo">
        <h1>Kuroneko Blog</h1>
        <div class="admin-url">
            <?php if ($login) { ?>
                <?php echo $this->Html->link('ログアウト', ['controller'=>'Users', 'action'=>'logout']); ?>
                <a href="/admins">管理画面にゃ</a>
            <?php } else { ?>
                <?php echo $this->Html->link('ログイン', ['controller'=>'Users', 'action'=>'login']); ?>
            <?php } ?>
        </div>
    </header>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
</body>
</html>
